body {
  width: 370px;
  font-family: 'Courier', 'Courier New', 'monospace';
  background-color: #eee;
  padding: 0px 10px;
  margin: 5px 10px 15px 10px;
}

h1 {
  font-family: 'Arial', 'Helvetica', 'sans-serif';
  background: #ddd url(/images/icon32.png) no-repeat 10px 50%;
  padding: 8px 8px 8px 53px;
  color: #fefefe;
  text-shadow: 0 1px 0 #bbb;
  margin-bottom: 8px;
}

.description {
  font-family: 'Arial', 'Helvetica', 'sans-serif';
  margin-top: 0;
  font-style: italic;
  font-size: 12px;
  color: #777;
  text-shadow: 0 1px 0 #fff;
  text-align: center;
}

.instructions {
  line-height: 125%;
  font-size: 12px;
  color: #666;
  margin-bottom: 10px;
  display: none;
}

.generic-wrapper {
  text-align: left;
  margin-top: 7px;
  padding: 18px 5px 7px 5px;
  background: url(/images/sawtooth.gif) top left repeat-x;
}

.generic-wrapper input[type='checkbox'] {
  width: 15px;
  margin: 0;
  padding: 0;
  display: inline;
}

.generic-wrapper ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 12px;
}

.generic-wrapper ul li {
  margin: 3px 0;
}

.filter-subject {
  font-weight: bold;
}

#instructions-toggle {
  display: block;
  font-size: 10px;
  color: #666;
  margin-left: 5px;
  text-decoration: none;
}

input {
  font-size: 12px;
  border: 1px solid #bbb;
  padding: 5px;
  width: 200px;
  margin: 5px;
}

#entries {
  margin-top: 14px;
  padding: 7px 5px 0 5px;
}

#entries ul {
  list-style: disc;
  font-size: 14px;
  color: #333;
  margin: 1em 1.3em;
}

#entries ul li {
  margin: 0.1em;
}

#entries p {
  line-height: 125%;
  font-size: 14px;
  color: #777;
  margin-bottom: 10px;
  display: block;
}

.blocked-entry-destroy {
  margin-left: 5px;
  color: #B5C7DE;
  font-weight: normal;
  font-size: 12px;
}

.blocked-entry-destroy:hover {
  cursor: pointer;
  color: #666;
}

#reminder {
  font-family: 'Arial', 'Helvetica', 'sans-serif';
  color: #999;
  font-size: 10px;
  font-style: italic;
  text-align: center;
  padding: 4px 0;
  margin-top: 14px;
}

.highlight {
  background-color: #ffff99;
}

#global-filters {
  color: #333;
  text-align: left;
  font-size: 11px;
  margin-top: 7px;
  padding: 18px 5px 7px 5px;
}

#connect {
  display: block;
  text-align: center;
  color: #555;
  font-size: 10px;
  margin-top: 9px;
}

#donate {
  padding: 18px 5px 0 5px;
  background: url(/images/sawtooth.gif) top left repeat-x;
  display: block;
  text-align: center;
  font-size: 10px;
  margin-top: 5px;
}

#donate a,
#donate a:visited {
  color: #555;
  text-decoration: none;
}

#donate a.cta,
#donate a.cta:visited {
  background: url(/images/donate.png) left 50% no-repeat;
  padding: 5px 0 5px 22px;
}

#donate a span.action {
  color: #333;
  font-weight: bold;
}

#donate .qr-code {
  display: none;
  text-align: center;
}

#donate .qr-code .image-container {
  display: block;
  padding: 9px 0 5px;
  margin: 0 auto;
}
#donate .qr-code img {
  border: 1px solid #ccc;
}

#connect .bug {
  background: url(/images/bug.png) left 50% no-repeat;
  padding: 5px 0 5px 22px;
}

#connect .bug .email {
  font-weight: bold;
  color: #333;
}

#current-version {
  display: block;
  text-align: center;
  font-size: 10px;
  margin: 9px 0 0 0;
  padding: 0;
}

#current-version a {
  color: #888;
  text-decoration: none;
}
